# API Configuration
VITE_API_URL=http://localhost:3000/api/v1
VITE_PUBLIC_APP_URL=https://hackaton-frontend-pearl.vercel.app
VITE_ENABLE_DEMO_PAYMENT_FALLBACK=false
VITE_GENLAYER_RPC_URL=https://testnet.genlayer.com

# Stripe Configuration
VITE_STRIPE_PUBLIC_KEY=your_public_key_here
VITE_STRIPE_SECRET_KEY=your_secret_key_here

# Other Services
VITE_CLOVER_APP_ID=your_app_id_here
